@using PasswordManager.Portal.Models;
<MudDrawer Anchor="Anchor.End" @bind-Open="@IsDrawerOpen" PreserveOpenState="false" ClipMode="DrawerClipMode.Always" Elevation="2">
    <MudDrawerHeader>
        <ChildContent>
            <MudTextField @bind-Value="@_searchText" />
        </ChildContent>
    </MudDrawerHeader>
    <MudDrawerContainer>
        <ChildContent>
            @if (SelectedLogo is not null)
            {
                <div class="col-md-12 text-center">
                    <MudButton>
                        <MudImage Src="@SelectedLogo.FileUrl" Alt="@SelectedLogo.Title" Fluid="true" Elevation="0" />
                    </MudButton>
                </div>
            }
           @foreach (var logo in _logoModels)
            {
                <div class="col-md-12 text-center">
                    <MudButton OnClick="async () => await LogoPickingButtonClicked(logo)">
                        <MudImage Src="@logo.FileUrl" Alt="@logo.Title" Fluid="true" Elevation="0" />
                    </MudButton>
                </div>
            }
        </ChildContent>
    </MudDrawerContainer>
</MudDrawer>