<h3>PasswordDataForm</h3>


<MudForm Model="@_viewModel" IsValid="@_viewModel.IsValid">
    <MudPaper Style="@($"padding:2%; color:{Colors.Blue.Lighten5};")" Elevation="5" >
        <MudTextField Label="Title" Value="@_viewModel.Title" FullWidth="true" />
        <MudTextField Label="Description" Value="@_viewModel.Description" FullWidth="true" />
        <MudTextField Label="Username" Value="@_viewModel.Username" FullWidth="true" />
        <MudTextField Label="Password" Value="@_viewModel.Password" FullWidth="true" />
    </MudPaper>
    

@*    <div class="d-flex justify-content-center">
        <div class="rounded-xl py-2 px-4 align-center align-content-center flex-grow-1 d-flex justify-content-center" style="background:#dfe4ff;max-width:500px">
            <MudTextField T="string" 
                DisableUnderLine="false" 
                Required="true" 
                Text="@_title"
                Adornment="Adornment.Start"
                AdornmentText="Title:"
                AdornmentAriaLabel="Identifying name of your password"/>
        </div>
    </div>*@
    

</MudForm>