@using PasswordManager.Portal.Constants;
@attribute [Route(ApplicationRoutes.Login)]

<PageTitle>Login</PageTitle>

<div style="margin:5%">
    <MudGrid Justify="Justify.FlexStart">
        <MudItem sm="12">
            <MudText Typo="Typo.h6">
                Login
            </MudText>
            <MudText Align="Align.Start" Typo="Typo.caption">
                Not a member? Register <MudLink Href="@ApplicationRoutes.Register" Typo="Typo.caption">here</MudLink>.
            </MudText>
        </MudItem>
        <MudItem xl="4" lg="6" md="8" sm="10" xs="12">
            <MudForm Model="@LoginForm" @bind-IsValid="@LoginForm.IsValid">
                <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
                    <MudGrid Spacing="5" Justify="Justify.Center" Style="margin-left:3%; margin-right:3%">
                        <MudItem sm="12" xs="12" >
                            <MudTextField @bind-Value="@LoginForm.Email"
                                            Variant="Variant.Text"
                                            Label="Email"
                                            For="@(() => LoginForm.Email)" />
                        </MudItem>
                        <MudItem sm="12" xs="12">
                            <MudTextField @bind-Value="@LoginForm.Password"
                                            Variant="Variant.Text"
                                            Label="Password"
                                            InputType="LoginForm.ShowPassword ? InputType.Text : InputType.Password"
                                            Adornment="Adornment.End"
                                            AdornmentIcon="@(LoginForm.ShowPassword ? Icons.Material.Filled.Visibility : Icons.Material.Filled.VisibilityOff)"
                                            OnAdornmentClick="@(() => LoginForm.ShowPassword = !LoginForm.ShowPassword)"
                                            AdornmentAriaLabel="Show password"
                                            OnKeyPress="PasswordFieldOnKeyPress"
                                            For="@(() => LoginForm.Password)"
                                            Immediate="true"/>
                        </MudItem>
                        <MudItem md="6" sm="12" xs="12">
                            <MudCheckBox @bind-Checked="@LoginForm.RememberMe"
                                         Color="Color.Primary"
                                         LabelPosition="LabelPosition.End"
                                         Label="Remember me"
                                         Size="Size.Medium" />
                        </MudItem>
                        <MudItem md="6" sm="12" xs="12">
                            <MudButton 
                                    FullWidth="true"
                                    Variant="Variant.Filled"
                                    Color="Color.Primary"
                                    Size="Size.Large"
                                    Disabled="@AuthenticationInProgress" 
                                    OnClick="LoginUser">
                                    @if (AuthenticationInProgress)
                                    {
                                        <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true"/>
                                        <MudText Class="ms-2" Typo="Typo.button">Authenticating</MudText>
                                    }
                                    else
                                    {
                                        <MudText Typo="Typo.button">Login</MudText>
                                    }
                                </MudButton>
                        </MudItem>
                        <MudItem md="12" sm="12" xs="12">
                            <MudText Align="Align.Center" Color="Color.Error" Typo="Typo.subtitle2">@LoginForm.ErrorMessage</MudText>
                        </MudItem>
                    </MudGrid>
                </MudPaper>
            </MudForm>
        </MudItem>
    </MudGrid>
</div>