@using PasswordManager.Portal.Constants;
@attribute [Route(ApplicationRoutes.Register)]

<PageTitle>Registration</PageTitle>

<div style="margin:5%">
    <MudGrid Justify="Justify.Center">
        <MudItem xl="8" lg="8" md="8" sm="10" xs="12">
            <MudText Typo="Typo.h6">
                Registration
            </MudText>
            <MudText Typo="Typo.caption">
                Register and account with a unique email address and a complex password.
            </MudText>
        </MudItem>
        <MudItem xl="8" lg="8" md="8" sm="10" xs="12">
            <MudForm Model="@RegisterForm" @bind-IsValid="@RegisterForm.IsValid" >
                <MudPaper Class="d-flex align-center justify-center mud-width-full py-8" >
                    <MudGrid Spacing="5" Justify="Justify.SpaceBetween" Style="margin-left:3%; margin-right:3%" >
                        <MudItem lg="6" md="12" sm="12" xs="12">
                            <MudGrid Justify="Justify.Center" Spacing="7">
                                <MudItem xs="12">
                                    <MudTextField 
                                        @bind-Value="@RegisterForm.Email" 
                                        Variant="Variant.Text"
                                                  Label="Email"
                                                  For="@(() => RegisterForm.Email)" />
                                </MudItem>
                                <MudItem xs="12">
                                    <MudTextField 
                                        @bind-Value="@RegisterForm.OriginalPassword" 
                                        Variant="Variant.Text"
                                        Label="Password"
                                        InputType="RegisterForm.ShowOriginalPassword ? InputType.Text : InputType.Password"
                                        Adornment="Adornment.End"
                                        AdornmentIcon="@(RegisterForm.ShowOriginalPassword ? Icons.Material.Filled.Visibility : Icons.Material.Filled.VisibilityOff)"
                                        OnAdornmentClick="@(() => RegisterForm.ShowOriginalPassword = !RegisterForm.ShowOriginalPassword)"
                                        AdornmentAriaLabel="Show password"
                                        For="@(() => RegisterForm.OriginalPassword)"/>
                                </MudItem>
                                <MudItem xs="12">
                                    <MudTextField 
                                        @bind-Value="@RegisterForm.ConfirmationPassword"
                                        Variant="Variant.Text"
                                        Label="Confirmation Password"
                                        InputType="RegisterForm.ShowConfirmationPassword ? InputType.Text : InputType.Password"
                                        Adornment="Adornment.End"
                                        AdornmentIcon="@(RegisterForm.ShowConfirmationPassword ? Icons.Material.Filled.Visibility : Icons.Material.Filled.VisibilityOff)"
                                        OnAdornmentClick="@(() => RegisterForm.ShowConfirmationPassword = !RegisterForm.ShowConfirmationPassword)"
                                        AdornmentAriaLabel="Show password"
                                        HelperText="Retype your password"
                                        HelperTextOnFocus="true"
                                        For="@(() => RegisterForm.ConfirmationPassword)"/>
                                </MudItem>
                            </MudGrid>
                        </MudItem>
                        <MudItem lg="6" md="12" sm="12" xs="12">
                            <MudGrid Justify="Justify.FlexEnd" Spacing="7">
                                <MudItem xs="12">
                                    <MudTextField 
                                        @bind-Value="@RegisterForm.FirstName" 
                                        Variant="Variant.Text"
                                        Label="First Name"/>
                                </MudItem>
                                <MudItem xs="12">
                                    <MudTextField 
                                        @bind-Value="@RegisterForm.LastName" 
                                        Variant="Variant.Text"
                                        Label="Last Name"/>
                                </MudItem>
                                <MudItem md="6" sm="12" xs="12">
                                    <MudText Align="Align.Center" Color="Color.Error" Typo="Typo.subtitle2">@RegisterForm.ErrorMessage</MudText>
                                </MudItem>
                                <MudItem md="6" sm="12" xs="12">
                                    <MudButton 
                                        Variant="Variant.Filled"
                                        Color="Color.Primary"
                                        Size="Size.Large"
                                        Disabled="@RegistrationInProgress" 
                                        OnClick="RegisterUser">
                                        @if (RegistrationInProgress)
                                        {
                                            <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true"/>
                                            <MudText Class="ms-2" Typo="Typo.button">Registering</MudText>
                                        }
                                        else
                                        {
                                            <MudText Typo="Typo.button">Register</MudText>
                                        }
                                    </MudButton>
                                </MudItem>
                            </MudGrid>
                        </MudItem>
                    </MudGrid>
                </MudPaper>
            </MudForm>
        </MudItem>
    </MudGrid>
</div>