@attribute [Route(ApplicationRoutes.AddPassword)]

<PageTitle>Passwords</PageTitle>

@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using PasswordManager.Portal.Models;
@using PasswordManager.Portal.ViewModels.AddPassword;

<div style="margin:5%">
    <MudGrid Justify="Justify.FlexStart">
        <MudItem xl="8" lg="8" md="8" sm="10" xs="12">
            <MudForm @ref="@UiForm" Model="@AddPasswordForm" @bind-IsValid="@AddPasswordForm.IsValid" >
                <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
                    <MudGrid Spacing="5" Justify="Justify.SpaceBetween" Style="margin-left:3%; margin-right:3%" >
                        <MudItem lg="6" md="12" sm="12" xs="12">
                            <MudGrid Justify="Justify.Center" Spacing="7">
                                <MudItem xs="12">
                                    <MudTextField @bind-Value="@AddPasswordForm.Title"
                                                  Variant="Variant.Text"
                                                  Label="Password Title"
                                                  For="@(() => AddPasswordForm.Title)"
                                                  Immediate="true"
                                                  Disabled="FormComponentsDisabled" />
                                </MudItem>
                                <MudItem xs="12">
                                    <MudTextField @bind-Value="@AddPasswordForm.Username"
                                                  Variant="Variant.Text"
                                                  Label="Username"
                                                  For="@(() => AddPasswordForm.Username)"
                                                  Immediate="true"
                                                  Disabled="FormComponentsDisabled" />
                                </MudItem>
                                <MudItem xs="12">
                                    <MudTextField @bind-Value="@AddPasswordForm.Password"
                                                Variant="Variant.Text"
                                                Label="Password"
                                                InputType="AddPasswordForm.ShowPassword ? InputType.Text : InputType.Password"
                                                Adornment="Adornment.End"
                                                AdornmentIcon="@(AddPasswordForm.ShowPassword ? Icons.Material.Filled.Visibility : Icons.Material.Filled.VisibilityOff)"
                                                OnAdornmentClick="@(() => AddPasswordForm.ShowPassword = !AddPasswordForm.ShowPassword)"
                                                AdornmentAriaLabel="Show password"
                                                  For="@(() => AddPasswordForm.Password)"
                                                  Immediate="true"
                                                  Disabled="FormComponentsDisabled" />
                                </MudItem> 
                                <MudItem xs="12">
                                    <MudRadioGroup T="AvailableCategory" SelectedOption="@AddPasswordForm.Category" SelectedOptionChanged="PickedCategoryChanged" Required="true" RequiredError="Must choose a category!">
                                        @foreach (var availableCategory in AvailableCategories)
                                        {
                                            <MudRadio T="AvailableCategory" Option="@availableCategory">@availableCategory.Name</MudRadio>
                                        }
                                    </MudRadioGroup>
                                </MudItem>
                            </MudGrid>
                        </MudItem>
                        <MudItem lg="6" md="12" sm="12" xs="12">
                            <MudGrid Justify="Justify.FlexEnd" Spacing="7">
                                <MudItem xs="12">
                                    <MudTextField @bind-Value="@AddPasswordForm.Description"
                                        Variant="Variant.Outlined"
                                        Label="Password Description"
                                                  Lines="10"
                                                  Disabled="FormComponentsDisabled" />
                                </MudItem>
                            </MudGrid>
                        </MudItem>
                        <MudItem xs="12">
                            <MudPaper Class="d-flex justify-end flex-grow-1 gap-4" Elevation="0">
                                <MudButton Variant="Variant.Filled"
                                           Color="Color.Primary"
                                           Size="Size.Large"
                                           Disabled="@FormComponentsDisabled"
                                           OnClick="GenerateRandomPasswordButtonClicked">
                                        <MudText Typo="Typo.button">Generate random password</MudText>
                                </MudButton>

                                <MudButton Variant="Variant.Filled"
                                           Color="Color.Primary"
                                           Size="Size.Large"
                                           Disabled="@FormComponentsDisabled"
                                           OnClick="AddNewPassword">
                                    @if (AddingPasswordInProgress)
                                    {
                                        <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                                        <MudText Class="ms-2" Typo="Typo.button">Adding</MudText>
                                    }
                                    else
                                    {
                                        <MudText Typo="Typo.button">Add Password</MudText>
                                    }
                                </MudButton>
                            </MudPaper>
                        </MudItem>
                    </MudGrid>
                </MudPaper>
            </MudForm>
        </MudItem>
    </MudGrid>
</div>