@using PasswordManager.Portal.ViewModels.Dashboard;
@using PasswordManager.Portal.ViewModels.ViewPasswords;
@attribute [Route(ApplicationRoutes.ViewPasswords)]

<MudDataGrid Items="@Passwords" Groupable="true" GroupExpanded="false" Filterable="false" Loading="IsLoading" OverscanCount="10" Striped="true" ShowColumnOptions="false" Dense="true">
    <ToolBarContent>
        <MudText Typo="Typo.h6">All Passwords</MudText>
        <MudSpacer />
    </ToolBarContent>
    <Columns>
        <Column T="PasswordRowViewModel" Field="PasswordId" Title="Id" Filterable="false" Groupable="false" Hidden="true" />
        <Column T="PasswordRowViewModel" Field="PasswordTitle" Title="Title" Filterable="false" Groupable="false" />
        <Column T="PasswordRowViewModel" Field="Username" Title="Username" Filterable="false" Groupable="false" />
        <Column T="PasswordRowViewModel" Title="Password" Filterable="false" Groupable="false">
            <CellTemplate>
                <MudPaper Class="pa-4 my-2" Style="position:relative;" Elevation="0" Outlined="false" Square="false">
                    <MudOverlay Visible="true" LightBackground="true" Absolute="true" >
                        <MudIconButton Icon="@Icons.Material.Filled.Visibility" Size="@Size.Large" />
                    </MudOverlay>
                    <MudSkeleton Width="100%" Animation="Animation.False" SkeletonType="SkeletonType.Text" Style="align-self:center" />
                </MudPaper>
            </CellTemplate>
        </Column>
        <Column T="PasswordRowViewModel" Field="CategoryName" Title="Category" Hidden="true" Grouping="true">
            <GroupTemplate>
                <span style="font-weight:bold">Category: @context.Grouping.Key <MudChip Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small">@context.Grouping.Count()</MudChip></span>
            </GroupTemplate>
        </Column>
    </Columns>
    <PagerContent>
        <MudDataGridPager T="PasswordRowViewModel" />
    </PagerContent>
</MudDataGrid>
